<template>
<h1>Este es un componente,  {{ message }}</h1>
</template>

<script>
    export default {
     data(){
        return {
            data: {
                'message': "Hola, Vuejs",
                'Hola' : "Hola..."
            }
            ,
        }
     },

        methods: {
            storeComments(e){
                e.preventDefault();
                var f = document.getElementById('form-comments');
                var form = new FormData(f);
                axios.post('/comments', form)
                        .then(res => {
                            
                        });
            }
        }
    }
</script>
